= form_for(@programming_language) do |f|
  - if @programming_language.errors.any?
    #error_explanation
      %h2
        = t 'errors.template.header', model: t('.programming_language'), count: @programming_language.errors.count
      %ul
        - @programming_language.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :language_type
    %br
    = f.text_field :language_type
  .field
    = f.label :designed_by
    %br
    = f.text_field :designed_by

  .actions
    = f.submit
