- title t('.title')

%p.nav
  = link_to t('back'), programming_languages_path, class: 'index'
  = link_to t('edit'), edit_programming_language_path(@programming_language), class: 'edit'

%dl
  %dt= ProgrammingLanguage.human_attribute_name :name
  %dd= @programming_language.name
  %dt= ProgrammingLanguage.human_attribute_name :language_type
  %dd= @programming_language.language_type.to_sentence
  %dt= ProgrammingLanguage.human_attribute_name :designed_by
  %dd= @programming_language.designed_by.to_sentence
